body{
	font: 15px/1.5 Arial,Helvetica,sans;
	padding:0;
	margin:0;
	background-color:#f4f4f4;
}
ul{
	margin:0;
	padding:0;
}
.container{
	width:80%;/*to make it responsive*/
	margin:auto;/*to move text to middle*/
	overflow:hidden;
}

button{
	background-color:#e8491d;
	height:40px;
	width:70px;
	color:#ffffff;
	border:0;
}





header{
	background: #35424a;
	color:#ffffff;
	min-height:70px;
	padding-top:30px;
	border-bottom:3px solid #e8491d;
}
header a{
	color:#ffffff;
	text-decoration:none;
	text-transform:uppercase;
	font-size:16px;
}
header li{
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}
header nav{
	float :right;
	margin-top:10px;
}
header #branding{
	float:left;
}
header #branding h1{
	margin:0;
}
header .highlight , header .current a{
	color:#e8491d;
	font-weight:bold;
}
header a:hover{
	color:#cccccc;
	font-weight:bold;
}





#showcase{
	min-height:400px;
	background: url('../img/showcase.jpg')
	no-repeat 0px -400px;
	text-align:center;
	color:#ffffff;
}

#showcase h1{
	margin-top:100px;
	margin-bottom:10px;
    font-size:55px;
}
#showcase p{
	font-size:20px;
}




.newsletter{
	background: #35424a;
	color:#ffffff;
	padding:15px;

}
.newsletter h1{
	float:left;
}

.newsletter form{
	float:right;
	padding-top:15px;
}
.newsletter input[type="email"]{
	height:30px;
	width:255px;
}




.box {
	padding-top:30px;
	padding-left:20px;
    text-align:center;
    float:left;
    width:30%;
    margin-bottom:40px;


}
.box img{
	height:90px;
	width:90px;
}

footer{
	text-align:center;
	background:#e8491d;
	color:#ffffff;
	border:20px solid #e8491d;
}


.about{
	float:left;
	width:65%;
}

.whatWeDo{
	float:right;
	width:30%;
	margin-top:20px;
}

.special-para{
	background:#35424a;
	padding:15px;
	color:#ffffff;
}
.main{
	padding-bottom:15px;
}

section li{
	background:#cccccc;
	padding:20px;
	margin: 5px 0 5px 0 ;
}
.element input{
		height:25px;
	    width:255px;
	}
.message-box {
	width:255px;
	height:35px;
}

